.border {
  border: 2px solid red;
  > * {
    border: 2px solid green;
  }
}

.container {
  width: min(90%, 900px);
  margin-inline: auto;
}

.border-box {
  padding: 1rem;
  border: 2px solid var(--text);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-vh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset-btn {
  background: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  border: none;
}

.hide-scrollbar {
  overflow-y: hidden;
}

@media (min-width: 500px) {
  .hide-scrollbar {
    padding-right: 8px;
  }
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

/* Style the scrollbar track when scrollbar is in "dragging" state */
::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
